@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent-color: #263056;
}

.body {
	background-color: #f5f6fa;
}

/* HEADER */
.header-icon {
	cursor: pointer;
	transform: scaleX(-1);
	color: var(--accent-color);
}

/* CONTENT */
.content-container {
	height: 70vh;
	width: 90vw;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 0px 15px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 17px;
}

.content {
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.content-title {
	display: flex;
	margin: 15px 40px 0 0;
	color: var(--accent-color);
}

.content-icon {
	/* disabled: inline; */
}

.form-item {
	width: 350px;
	margin: 10px 20px 0px;
}

.footer-icon {
	color: var(--accent-color);
}

label {
	margin: 8px 0;
}

input {
	height: 35px;
	background-color: #f5f6fa;
	border-radius: 10px;
	padding-right: 10px;
}

.form-btn {
	margin-top: -5px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
}

.btn {
	margin: 10px;
	width: 85px;
	height: 30px;
	border-radius: 10px;
	color: white;
	z-index: 1;
}

.btn-danger {
	background-color: #f20020;
}

.btn-danger:disabled {
	background-color: #f492a0;
	color: #333;
	cursor: auto;
}

.btn-success {
	background-color: #006af4;
}

.btn-success:disabled {
	background-color: #7caff5;
	color: #333;
	cursor: auto;
}

/* FOOTER */
.footer {
	margin-top: 23px;
	padding-bottom: 15px;
	height: 10vh;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
}

.footer-group {
	display: flex;
	flex-direction: column;
}

.footer-items {
	display: flex;
	flex-direction: row;
}

.footer-item {
	padding-top: 15px;
	cursor: pointer;
	position: relative;
}

@media (min-width: 650px) {
	.footer-item {
		margin: 0 10px;
	}
}

.footer-active {
	overflow: hidden;
}

.disable {
	margin-top: 30px;
	height: 7px;
}
